<header class="bg-primary uppercase">
    <div class="flex justify-between bg-primary-dark sm:px-8">
        <div>
            {{/*  social  */}}
        </div>
        <nav class="w-1/2 max-w-md flex justify-between p-3 text-sm text-white">
            <a href="/about-us">About Us</a>
            <a href="/our-work">Our Work</a>
            <a href="/news">News</a>
            <a href="/store">Store</a>
            <a href="/donate">Donate</a>
        </nav>
    </div>
    <div class="flex justify-between items-stretch sm:px-8">
        <div class="w-40 bg-gray-50 mx-8 my-4">
            {{/*  logo  */}}
        </div>
        <nav class="w-1/2 max-w-2xl flex justify-between items-center p-4 text-light font-bold">
            <a href="/individual-training">Individual Training</a>
            <a href="/church-training">Church Training</a>
            <a href="/pricing">Pricing</a>
            <a class="px-6 py-2 border-2 rounded" href="/sign up">Sign Up</a>
        </nav>
    </div>
</header>