{{ define "main" }}
<main>
    <header class="content-width flex flex-col justify-end pt-80 pb-24">
        <div class="md:max-w-1/2 mb-8">
            <h1 class="mb-4 text-5xl font-bold uppercase">Light Your Path to a Healthier Future</h1>
            <p class="mb-4 text-2xl text-body leading-relaxed">Get the wholistic training you need to take control of
                your health and speak to the lifestyle needs of your community with confidence.</p>
            <button class="button text-body border-body">Start Training</button>
        </div>
        {{ partial "affiliated" . }}
    </header>

    <section class="content-width py-32 bg-light">
        <h3 class="mb-2 text-lg uppercase">Individual Training</h3>
        <h2 class="max-w-xl mb-5 text-4xl font-bold uppercase">Receive Guided Health Training Online</h2>
        <p class="max-w-lg mb-6 text-xl leading-relaxed">Find answers to your questions about natural remedies,
            a healthy lifestyle, beating back disease, and community health education with personalized guidance through
            our wholistic lifestyle courses. Be illuminated by an approach which values hands on experience, scientific
            accuracy and Divine inspiration. Learn from anywhere with our user-friendly online e-learning platform.</p>
        <a href="#" class="button border-body">Learn More</a>
    </section>
    <section class="py-32 bg-md">
        <div class="content-width flex justify-end">
            <!-- TABS -->
            <div class="max-w-sm">
                <h3 class="mb-2 text-lg uppercase">Training Option</h3>
                <h2 class="max-w-sm mb-5 text-4xl font-bold uppercase">Herbal Remedies</h2>
                <p class="max-w-md mb-6 text-xl leading-relaxed">This certificate program gives you a
                    broad-based
                    foundational knowledge of practical herbal applications for both personal and family purposes.</p>
                <a href="#" class="button border-body">Learn More</a>
            </div>
        </div>
    </section>
    <section>
        <div class="h-96 bg-gray-400"></div>
    </section>
    <section class="content-width py-24 text-center">
        <h3 class="mb-2 text-lg uppercase">Church Training</h3>
        <h2 class="max-w-sm mx-auto mb-5 text-4xl font-bold uppercase">Connect With Your Community</h2>
        <p class="max-w-md mx-auto mb-6 text-xl leading-relaxed">Light your local church, your community, or the world
            at large by training your church in proven health
            outreach methods for sharing the secrets to a healthier body, mind, and soul.</p>
        <a href="#" class="button inline-block">Learn More</a>
    </section>
    <section class="bg-secondary py-32">
        <div class="content-width">
            <div class="max-w-screen-sm mx-auto mb-24">
                <h3 class="mb-2 text-lg text-white uppercase">A Trusted Source</h3>
                <h2 class="mb-6 text-4xl text-white font-bold uppercase">Learn with Confidence</h2>
                <p class="mb-12 text-2xl text-white leading-relaxed">With over a decade of experience working with
                    churches and conferences in over 90 countries as an
                    official member organization of ASI, a department of the North American Division of Seventh-day
                    Adventist, LIGHT gives you a place to learn from sources you can trust. Over 30,000 church member
                    have
                    benefited from LIGHT courses that offer up-to-date information assembled by a research of
                    experienced
                    medical professionals, health educators and pastors.</p>

                {{ partial "affiliated" . }}
            </div>
            <div class="max-w-screen-lg mx-auto flex justify-around items-start">
                {{ range .Site.Data.testimonies }}
                <div class="w-full p-8 rounded m-4 bg-white">
                    <div>{{ .rating }}</div>
                    <p>{{ .review }}</p>
                    <div class="flex mt-4">
                        <div class="w-12 h-12 flex-shrink-0 mr-4 bg-gray-200"></div>
                        <div>
                            <p class="font-bold uppercase">{{ .name }}</p>
                            <p class="text-sm text-light">{{ replace .position "\n" "<br>" | safeHTML }}</p>
                        </div>
                    </div>
                </div>
                {{ end }}
            </div>
        </div>
    </section>
</main>
{{ end }}